# Dont forget to set the env variable CERT_DOMAIN, CERT_EMAIL.
# Use CERTBOT_EXTRA_ARGS to pass extra arguments to certbot, such as --staging.

packages:
  yum:
    epel-release: []
    gettext: [] # envsubst

container_commands:
  00_cert_setup:
    command: ".ebextensions/cert_setup.sh"
  10_nginx_config:
    command: "/usr/bin/envsubst '${CERT_DOMAIN}' <.ebextensions/elasticbeanstalk-nginx-docker-proxy.conf > /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf && chmod 644 /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf"
  20_cronjob_renew:
    command: "/usr/bin/envsubst '${CERTBOT_EXTRA_ARGS}' <.ebextensions/cert_renew.crontab > /etc/cron.d/cert_renew && chmod 644 /etc/cron.d/cert_renew"
