# Dont forget to set the env variable CERT_DOMAIN, CERT_EMAIL.
# Use CERTBOT_EXTRA_ARGS to pass extra arguments to certbot, such as --staging.

packages:
  yum:
    epel-release: []
    gettext: [] # for envsubst

files:
  "/etc/cron.d/renew_cert":
    mode: "000644"
    owner: root
    group: root
    content: |
      12 7 * * * root /usr/local/bin/renew_cert.sh

  "/usr/local/bin/renew_cert_hook.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -ex
      source /etc/letsencrypt_backup/functions.sh
      backup_cert

container_commands:
  00_nginx_config:
    command: "/usr/bin/envsubst '${CERT_DOMAIN}' <.ebextensions/elasticbeanstalk-nginx-docker-proxy.conf > /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf && chmod 644 /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf"
  10_letsencrypt_backup_functions:
    command: "mkdir /etc/letsencrypt_backup && /usr/bin/envsubst '${CERT_DOMAIN} ${CERT_S3_BUCKET}' <.ebextensions/letsencrypt_backup_functions.sh > /etc/letsencrypt_backup/functions.sh && chmod 644 /etc/letsencrypt_backup/functions.sh"
  20_renew_cert_sh:
    command: "/usr/bin/envsubst '${CERTBOT_EXTRA_ARGS}' <.ebextensions/renew_cert.sh > /usr/local/bin/renew_cert.sh && chmod 755 /usr/local/bin/renew_cert.sh"
  30_run_setup_cert:
    command: ".ebextensions/setup_cert.sh"
