files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/999-wait-for-boot.sh":
    mode: "0755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # wait for upstream to come online
      upstream=$(grep server /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-upstream.conf | awk '{print $2}' | cut -d';' -f1)
      while true; do

        if curl --fail --silent http://$upstream; then
          exit 0
        fi
        sleep 10
      done
